html.
  <head>
    
    <title>staticmole Github Repo's Analisys Tool Based on Jshint</title>
    
    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Place this render call where appropriate -->
    <script type="text/javascript">
     (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28956885-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://fgnass.github.com/spin.js/spin.js"></script>
  </head>

  <body>
    <div itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="url" content="peacockteam.org" />
  
      <meta itemprop="name" content="PeacockTeam" />
      <meta itemprop="description" content="Making this world better" />

      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <meta itemprop="addressLocality" content="Saint-Petersburg" />
        <meta itemprop="addressCountry" content="Russia" />
      </div>
  
      <div itemprop="employees">
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Pavel Ershov">
          <meta itemprop="url" content="http://vk.com/ershovp">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Egor Ivanov">
          <meta itemprop="url" content="http://www.linkedin.com/in/egor7ivanov">
          <meta itemprop="url" content="http://vk.com/egor7ivanov">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Sergey Khavrenko">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Vlad Efremov">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Artem Bankin">
        </div>    
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Ivan Ushkevich">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Ruslan Kreymer">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Elena Alekseenko">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Mikhail Vakulenko">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Vitaly Ivanov">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Alex Kossakovsky">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Alex Nikolaev">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Olga Mikhaylova">
        </div>
        <div  itemprop="person" itemscope itemtype="http://schema.org/Person">
          <meta itemprop="name" content="Nastia Kaprova">
        </div>
      </div>

      <meta itemprop="telephone" content="+7 921 936-10-22" />

      <div itemscope itemtype="schema.org/ImageObject">
        <meta itemprop="name" conent="Logo" />
        <meta content="http://goodroads.ru/css/images/peacock.png" itemprop="contentURL" />
      </div>
    </div>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">staticmole</a>
          <ul class="nav">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li><a href="https://github.com/PeacockTeam/staticmole">Source</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container page">
      <div class="row">
        <div class="span4 columns">
          <h2>About staticmole</h2>

          <p>Staticmole is a community-driven tool to detect errors and potential problems in Open Source
          code hosted in github repositories.</p>
          <p>At the moment it could analize javascript using <a href="jshint.org">JSHint</a> and <a href="jshint.org">JSLint</a>.</p>
          <p>We are going to extend the list of tackled languages (Java, C, C++, etc)</p>
          <p>Staticmole uses node.js and originally was created to check <a href="https://github.com/joyent/node/wiki/modules">the nodejs modules</a></p>
        </div>

        <div class="span4 columns">
          <h2>Big thanks</h2>

          <p>Big thanks to the whole Open Source Community and especially to the projects we're using in staticmole</p>
          <p>Thanks to the <a href="http://ibks.ftk.spbstu.ru/">Information Security in Computer Systems department</a> of
		  <a href="http://www.spbstu-eng.ru">Saint-Petersburg State Politechnical Univercity</a></p>
        </div>

        <div class="span4 columns">
          <h2>Our Goal</h2>

          <p>Our goal is to help JavaScript developers write complex programs without
          worrying about typos and language gotchas.</p>

          <p>We believe that static code analysis programs&mdash;as well as other code quality
          tools&mdash;are important and beneficial to the JavaScript community and, thus, should not
          alienate their users.</p>
        </div>

        <div class="span4 columns">
          <h2>Team</h2>

          <p><strong>PeacockTeam</strong>, making the world better.<br>
          <a href="http://PeacockTeam.org">BC</a>, <a href="http://www.GoodRoads.ru/">GoodRoads</a>.</p>

        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="pull-right">
          <div class="logo">
            PeacockTeam 2012
          </div>
        </div>
      </div>  
    </footer>
  </body>
