html.
  <head>
    
    <title>staticmole Github Repo's Analisys Tool Based on Jshint</title>
    
    <!-- Le styles -->
    <link href="..public/css/bootstrap.styl" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Place this render call where appropriate -->
    <script type="text/javascript">
     (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28956885-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://fgnass.github.com/spin.js/spin.js"></script>
  </head>

  <body>

    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">staticmole</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
          <h5>Example Reports</h5>
          <ul>
            <li><a href="http://staticmole.org/staticmole/reports/crossroads">crossroads</a></li>
            <li><a href="http://staticmole.org/staticmole/reports/NServe">NServe</a></li>
            <li><a href="http://staticmole.org/staticmole/reports/armomole">armomole</a></li>
            <li><a href="http://staticmole.org/staticmole/reports/node-router">node-router</a></li>
            <li><a href="http://staticmole.org/staticmole/reports/sherpa">sherpa</a></li>
            <li><a href="http://staticmole.org/staticmole/reports/fab">fab</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
          <div class="row">
            <div class="span6">
              <span class="label" id="bigFont">Enter Github Repo URL</span>
            </div>
            <div class="span4">
              <input title="https://github.com/PeacockTeam/armomole.git" class="repo" />
            </div>            
            <div class="span3">
            </div>            
            <div class="span1">
              <g:plusone annotation="inline"></g:plusone>
            </div>            
          </div>
          <div class="row">
            <div class="span4">&nbsp</div>
          </div>
          <div class="row">
            <div class="span6">
              <span class="label notice" id="bigFont">Get Full Static Analysis Report</span>
            </div>
            <div class="span4">
              <input type="button" id="button" onclick="getRepo()" value="Run"/>
            </div>            
          </div>
        </div>
        <!-- Example row of columns -->
        <div class="row" id="report">
          <div class="span16">
            <h2>Your Report</h2>
            <p>
              <div id="reportItem">
              </div>  
            </p>
          </div>
        </div>
        <footer class="footer">
          <div class="container">
            <div class="pull-right">
              <div class="logo">
                PeacockTeam 2012
              </div>
            </div>
          </div>  
        </footer>
    </div>
  </body>
