!!!
html
  head
    title= title
    
    // libs
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    link(rel="stylesheet", href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css")
    script(src="js/spin.js")
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    script(src="js/app.js")
    
    link(rel="stylesheet", href="/css/style.css")

  body!= body

